<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ysaito.shogi"
      android:versionCode="15"
      android:versionName="2.6"
      android:installLocation="preferExternal"      
      >
    <uses-sdk 
      android:minSdkVersion="8"
      android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />      
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />      
    <application android:icon="@drawable/kinki_simple_hi" 
                 android:label="@string/app_name"
                 >
        <activity android:name=".StartScreenActivity"
                  android:alwaysRetainTaskState="true"
		  android:screenOrientation="portrait">
	    <!-- screenOrientation is fixed to avoid aborting the data downloading thread -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
		              android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ReplayGameActivity"
            		  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".GameLogListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".OptusPlayerListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".OptusGameLogListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ShogiPreferenceActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".HelpActivity"
                  android:label="@string/app_name">
        </activity>
    </application>


</manifest> 
