<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ysaito.shogi"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk 
      android:minSdkVersion="9"
      android:targetSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET" />      
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />      
    <application android:icon="@drawable/kinki_simple_hi" 
                 android:label="@string/app_name"
                 >
        <activity android:name=".StartScreenActivity"
                  android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ShogiPreferenceActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".HelpActivity"
                  android:label="@string/app_name">
        </activity>
    </application>


</manifest> 